.header__lang-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 74px; 
}

@media (min-width : 320px) and (max-width : 767px) {
    .header__lang-link{
        width: 66px; 
    }
}