.header__lang-link{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.75;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
}



@media (min-width : 320px) and (max-width : 767px) {
    .header__lang-link{
    font-size: 18px;
    line-height: 1.5;
    }
}