.intro__list{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}