.cover__overlay{   
    color: white;
    text-decoration: none;
    background-color: rgba(42,44,47,0.3);
    transition: background-color 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover__overlay:hover{
    background: rgba(42, 44, 47, 0.8);
}

