
@import url(./normalize.css);
@import url(../blocks/header/header.css);
@import url(../blocks/page/page.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/span/span.css);
@import url(../blocks/link/link.css);

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url(../Fonts/Inter-3/Inter/Inter-Regular.woff2) format("woff2"),
         url(../Fonts/Inter-3/Inter/Inter-Regular.woff) format("woff");
  }

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url(../Fonts/Inter-3/Inter/Inter-Black.woff2) format("woff2"),
         url(../Fonts/Inter-3/Inter/Inter-Black.woff) format("woff");
}